<div class="row home-content">
  <!-- Left section start -->
    <div class="col-md-6 left-section">
        <!-- Input feild to enter user message it should allow max 50 char -->
        <div class="wecome-text-input">
          <input type="text"
                 name="userMessage"
                 MAXLENGTH="50"
                 [(ngModel)]="userMessage">
        </div>
    </div> <!-- Right section end -->

    <!-- Right section start -->
    <div class="col-md-6 right-section">
        <!-- Redirect to user detail page while click the button -->
        <div class="button-center">
          <button type="button" class="btn btn-primary" (click)="goToDetails()">Next page</button>
        </div>
    </div> <!-- Right section end -->
</div>
